.banner {
  background-size: cover;
  background-position: center;
  height: 75vh;
  margin: 0- auto;
  display: flex-column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.banner h1 {
  font-size: 150px;
  text-shadow: 1px 2px 2px black;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.banner p {
  padding-bottom: 16px;
  margin: 0 auto;
  text-shadow: 1px 2px 2px black;
  text-align: center;
  font-size: 32px;
}

