.btn-contact {
  color: #FFFAFF;
  background-color: #F4AFB4;
  border-radius: 5px;
  box-shadow: 0 1px 2px black;
  font-size: 32px;
  padding: 8px 16px;
  transition: all .2s ease-in-out;
  display: inline-block;
}

.btn-contact:hover {
  transform: scale(1.5);
}
